/*
  编辑页面样式
 */

@import "./src/assets/css/variables";

.input-no-border ::v-deep(.el-input__inner) {
  border: 0;
  padding-left: 0;
  font-size: 16px;
}

.input-no-border ::v-deep(.el-input__inner:hover) {
  background-color: rgba(128, 133, 144, .06);
}
