/*
  公共页面样式
 */

@use "sass:math";
@import "./src/assets/css/variables";

body{
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #F5F5F5;
  font-size: 18px;
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.color-grey {
  color: grey;
}

// width class
@for $i from 1 to 101 {
  .width#{$i} {
    width: $i*1%;
  }
}

// margin
$direction: top, right, bottom, left;
@each $type in margin, padding {
  @each $d in $direction {
    @for $i from 0 to 51 {
      .#{$type}-#{$d}-#{$i} {
        #{$type}-#{$d}: $i*1px;
      }
    }
  }
}

@each $type in font-size {
  @for $i from 0 to 31 {
    .#{$type}-#{$i} {
      #{$type}: $i*1px;
    }
  }
}

.margin0 {
  margin: 0;
}

.padding {
  padding: 0;
}

.border0 {
  border: 0;
}
